:root {
    --dimension: 200px;
    --like-offset: 1%;
    --delete-offset: 5%;
}

.item-container {
    position: relative;
    text-align: center;
    width: var(--dimension);
    height: var(--dimension);
    background-color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
}

.item-image {
    width: var(--dimension);
    height: var(--dimension);
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    transition: opacity .5s;
}

.description-container {
    width: 100%;
    height: 100%;
}

.item-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 125%;
    font-weight: bold;
    opacity: 1;
    transition: opacity .5s;
}

.dim {
    opacity: .4;
    filter: grayscale(80%);
}

.invisible {
    opacity: 0;
}

.lower-right {
    position: absolute;
    bottom: var(--like-offset);
    right: var(--like-offset);
    width: 20px;
    height: 20px;
    font-size: 160%;
    cursor: pointer;
    text-align: center;
}

/* .lower-right:active {
    transform: scale(1.24);
} */

.fa-heart {
    color: rgb(233, 44, 44);
    transform: translate(-50%, -50%);
}

.like-number {
    font-size: 40%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

/* Grabbed from stackexchange to disable text selection */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .like-button {
      transition: scale .5s;
  }
  .like-button:active {
    transform: translateX(-20%)
        translateY(-20%)
        scale(1.5);
  }

  .delete-container {
      position: absolute;
      top: var(--delete-offset);
      right: var(--delete-offset);
      opacity: 0;
      transition: opacity .5s, color .5s;
  }

  .item-container:hover .delete-container {
      opacity: 1;
  }

  .text-white {
      color: white;
  }

  @media screen and (max-width: 480px) {
    .item-container {
        position: relative;
        text-align: center;
        width: 95vw;
        height: 95vw;
        background-color: black;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
    }
    
    .item-image {
        width: 95vw;
        height: 95vw; 
        object-fit: cover;
        position: relative;
        border-radius: 10px;
        transition: opacity .5s;
    }
    
    .description-container {
        width: 100%;
        height: 100%;
    }
  }
