.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

body {
  /* background: linear-gradient(0deg, rgb(191, 205, 206) 0%, 
  rgb(244, 255, 255) 100%); */
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}