.photo-label {
    display: block;
    width: 100%;
    margin: auto;
}

.input-form {
    margin: 20px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 20px;
    display: block;
}

.form-item {
    width: 100%;
    min-width: 100px;
    display: block;
}


@media screen and (min-width: 480px) {
    .input-form {
        display: block;
        justify-content: center;
        margin: 20px;
    }

    .form-item {
        width: 30vw;
        min-width: 100px;
    }
}